/* Smartphone */
/* Home */
@media (max-width: 500px) {
  #header-home .container {
    height: auto;
  }

  #main-nav {
    flex-direction: column;
  }

  .container h1 {
    font-size: 20px;
    padding-top: 20px;
  }

  .container p {
    font-size: 18px;
    padding: 10px;
  }

  .specials {
    flex-direction: column;
  }

  .specials div {
    padding-bottom: 10px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .footer-container .social {
    padding: 10px 0;
  }
  /* About */

  .about-info {
    display: flex;
    flex-direction: column;
  }

  #about-c {
    display: none;
  }

  #about-d .testimonials {
    display: flex;
    flex-direction: column;
  }

  /* Contact */
  .contact-a .text-form {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
  }

  .contact-info div {
    padding: 10px 0;
  }
}

/* Tablet  */
@media (max-width: 812px) {
  #header-home .container {
    height: 60vh;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }

  .container h1 {
    font-size: 30px;
    padding: 0;
  }

  #about-d .testimonials {
    display: flex;
    flex-direction: column;
  }
}
