* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: yellow;
}
.bottom-line {
  height: 2px;
  width: 3rem;
  background: skyblue;
  display: block;
  margin: 0 auto 1rem auto;
}

.section-title {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.lead {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-bottom: 30px;
}
.lead-info {
  color: yellow;
  font-size: 40px;
}
/* Header */
#header-home .container {
  background: url(../img/home.jpg) no-repeat center center/cover;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

#main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  color: #f4f4f4;
}

#main-nav ul {
  display: flex;
}

#main-nav ul li {
  padding: 0 10px;
  text-decoration: none;
}

#header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#header-content .container {
  padding: 20px 20px;
}

.container h1 {
  padding-top: 20rem;
  font-size: 3rem;
  color: #f4f4f4;
}

#header-inner {
  background: url(../img/home.jpg) no-repeat 20% 30% / cover;
}

/* Section B */
.home-section-b {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 5px;
}

.container {
  padding: 20px 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.specials {
  display: flex;
  margin-top: 20px;
}

.soecial i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.process-icon {
  width: 100px;
  height: 100px;
  color: #333333;
  background: yellow;
  text-align: center;
  position: relative;
  border-radius: 50%;
  top: 0;
  right: 0;
}

.process-icon::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 100px;
}

.process-icon:hover {
  background: #333;
  color: yellow;
  transition: all 2s;
}

.process-icon:hover .process-step {
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  transition: all 2s;
  background: yellow;
  color: blue;
}

.process-step {
  position: absolute;
  top: 0;
  right: 0;
  background: #333;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

/* About:Secton A */
#about-a {
  padding: 2rem 2rem;
}

.about-info {
  display: grid;
  grid-template-areas: "bioimage bio bio" "aw1 aw2 aw3";
  grid-gap: 1.2rem;
}
.bio {
  grid-area: bio;
  border-left: 3px solid yellow;
  padding: 0.5rem;
  font-size: 20px;
}

/* About:Section B */

#about-b {
  padding: 10px 2rem;
  background: #333;
  color: #f4f4f4;
}

.progress {
  overflow: hidden;
  height: 20px;
  background: #ccc;
  border-radius: 5px;
}
#about-b .progress div {
  height: 100%;
  color: #fff;
  background: yellow;
  text-align: center;
}
/* About:Section C  */
#about-c {
  padding: 0 2rem;
}
.about-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.about-logos img {
  width: 60%;
}

.intro {
  position: relative;
}

#header-home .section-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#header-home .section-image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}

/* About:Section D */
#about-d {
  padding: 0 2rem;
}
#about-d .testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  padding: 2rem 0;
}

#about-d .testimonials p {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
}

#about-d .testimonials ul {
  list-style: none;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

#about-d .testimonials ul li {
  font-weight: bold;
  font-size: 15px;
  padding: 0 5px;
}

.testimonials img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Contact:Section A */

.contact-a {
  overflow: hidden;
  text-align: center;
}

.contact-a .text-form {
  display: grid;
  grid-template-areas:
    "name subject"
    "email phone"
    "message message";
  grid-gap: 1.2rem;
  margin-bottom: 2rem;
}
.text-form {
  padding: 3rem 3rem;
}

.text-input {
  padding: 0.5rem 1rem;
}

.message-input {
  grid-area: message;
  height: 100px;
}

.btn {
  background: #333;
  color: #f4f4f4;
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: rgb(218, 218, 60);
  color: #333;
}

/* Contact:Section B */
.contact-b {
  background: #333;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.contact-info .fas {
  color: #f4f4f4;
}

.contact-info h3 {
  color: #f4f4f4;
}

.contact-info p {
  color: #f4f4f4;
}

.contact-c {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(238, 238, 122);
  height: 20vh;
}

.section-title-1 {
  font-size: 2rem;
  text-align: center;
}
/* Footer */

.footer-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 100%;
  font-size: 20px;
  padding: 10px 20px;
  background: #333;
  color: #f4f4f4;
}

.footer-container a {
  background: #f4f4f4;
  color: #333;
  border-radius: 50%;
  padding: 10px 10px;
  margin: 0 10px;
  transition: all 1s;
}

.footer-container a:hover {
  background: yellow;
  color: #333;
}
